html{ 
    background-image: url('https://media.self.com/photos/5e70f72443731c000882cfe7/4:3/w_2560%2Cc_limit/GettyImages-125112134.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav {
    display: block;
    width: 100vh;
    height: 50vh;
}

body {
        display: flex;
        flex-direction: row;
        justify-content: center;
         background-repeat: no-repeat;
         background-position: center; 
}
#map {
    height: 100%;
  }


.FlexContainer {
    display: flex;
    /* margin-left: 6em; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    width: 100%;
    height: 100vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    background: #484646d0;
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 30px;
    margin: 0.5em;
    width: 60%;
    height: 43%;
    align-items: center;
    justify-content: space-between;

}

img#logo {
        height: 200px;
        FONT-WEIGHT: 200;
        FONT-WEIGHT: 200;
        FONT-WEIGHT: 200;
        FONT-WEIGHT: 200;
        FONT-WEIGHT: 200;
        FONT-WEIGHT: 200;
}

/* .venueResults {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: flex-start;
    align-content: flex-end;
    height: 500px;
    width: 65%;
    
    height: 80px;
    overflow: auto;
    flex-direction: row;
} */

/* .venueResults div {
    text-align: center;
    width: 18%;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 10px 25px;
    display: inline-table;
    color: white;
    background-color: rgb(62, 118, 215);
} */


/* *{
    color:black;
    background: linear-gradient(to left, #f2fcfe, #1c92d2); 
    
}

#cityIntput, #cityName, #inputContainer, button {
    margin: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
}

#bandContainer{
    position:absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(97, 95,95, 0.829);
    border-radius: 10px;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px; 
    border: 5px solid rgb(31, 82, 82);
    border-radius: 10px;
}

.icons {
    display: inline-block; 
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;

}

.imgClass{
    height: 140px;
    width: 100%;
}

.minValues{
    text-align:center;
    display: inline-block;
    border-radius: 5px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px; 
    margin-left: 5px;
}

.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
} */